@font-face {
  font-family: "Atmospheric"; 
  src: local("Atmospheric"),
    url("./fonts/Atmospheric.ttf") format("truetype");
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #EFEFEF;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color:#EFEFEF;
  margin: 0;
  * {
    transition: color 1s;
    }
}

